.contact{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr)
  grid-template-areas
  "info formulario"
  "ubi formulario"
  ;
  margin-top: 100px;
  .datos{
    width: 794px;
    margin-left: 150px;
    .info{
      grid-area: info;
      .formulario{
        grid-area: formulario;
        }
        .ubi{
          grid-area: ubi;
      }
    }
  }
}

.formulario {
  display: flex;
  justify-content: center;
  min-width: 500px;
  form {
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: 500px;
    margin-top: 40px;
    padding: 10px;
    h2 {
      display: flex;
      justify-content: center;
      input, textarea {
        font-size: 15px;
        textarea {
          min-height: 100px;
          max-width: 500px;
        }
      }
    }
  }
}

@media (min-width: 375px){
  main .pagContacto{
    grid-template-columns: repeat(1, 1fr);
  }
}

#boton {
  background-color: #31384A;
  color: white;
  padding: 10px;
}
  
#boton:hover {
  cursor: pointer;
}