nav {
    background-color: rgb(231, 134, 6);
    a {
        font-weight: 600px;
        padding-right: 10px;
        font-family: "Playfair Display", serif;
    }
}
@media (max-width: 700px) {
    header {
    flex-direction: column;
    }
    nav {
    padding: 10px 0px;
    }
}