.titulo {
    text-align: center;
    margin-top: 50px;
}
.historia{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "nosotros master"
    ;
    grid-gap: 80px;
    margin-top: 70px;
    .master{
        grid-area: master;
        margin-top: 20px;
        justify-content: center;
        display: flex;
        img{
            min-width: 350px;
            border-radius: 10%;
        }
        .nosotros{
            grid-area: nosotros;
        }
    }
}
.nosotros{
    grid-area: nosotros;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 70px;
    margin-left: 70px;
    h2{
        text-align: center;
        padding: 10px;
        padding-bottom: 30px;
        padding-top: 30px;
        p{
            padding: 5px;
        }
    }
}
@media (max-width: 1200px){
    .historia{
        grid-template-columns: repeat(1,1fr);
        grid-template-areas:
        "nosotros"
        "master"
        ;
    }
}
@media (max-width: 622px){
    .master img{
        width: 457px;
        height: 283px;
    }
}
@media (max-width: 459px){
    .master img{
        width: 407px;
        height: 233px;
    }
}
@media (max-width: 408px){
    .master img{
        width: 357px;
        height: 183px;
    }
}