
.historia{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
    "nosotros master"
    ;
    grid-gap: 80px;
    margin-top: 70px;
    .master{
        grid-area: master;
        margin-top: 20px;
        justify-content: center;
        display: flex;
        min-width: 250px;
        img{
            min-width: 300px;
            min-height: 150px;
            border-radius: 10%;
            margin: 0px 5px 0px 5px;
        }
        .nosotros{
            grid-area: nosotros;
        }
    }
}
.nosotros{
    grid-area: nosotros;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 70px;
    margin-left: 70px;
    h2{
        text-align: center;
        padding: 10px;
        padding-bottom: 30px;
        padding-top: 30px;
        p{
            padding: 5px;
        }
    }
}