.img-productos img{
    width: 100%;
    height: 200px;
}
.titulo-productos {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
.container {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
    .card {
        width: 300px;
        height: 430px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
        h4 {
            font-weight: 600;
            p {
                padding: 0 1rem;
                font-size: 16px;
                font-weight: 300;
            } 
        }
    }
}
.card img{
    margin-bottom: 10px;
}
.container a {
    margin: 0px 80px 50px 80px;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    &:hover{
        background-color: #2fb4cc;
        color: #fff;
    }
}
.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.dropdowns{
    display: flex;
    justify-content: center;
    background-color: $color;
    padding: 20px;
    gap: 50px;
    margin-bottom: 30px;
}
@media (max-width: 1575px){
    .productos{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width: 1182px){
    .productos{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 788px){
    .productos{
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width: 394px){
    .container{
    padding: 0;
    }
}