@import "variablesGlobal";
@import "nav";
@import "footer";
@import "productos";
@import "servicios";
@import "contactos";
@import "nosotros";

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
}

.lista-productos a {
  text-decoration: none;
  color: black;
}
.img-principal {
  display: flex;
  justify-content: center;
}

.img-principal img {
  min-width: 280px;
}

/* Inicio */
.novedad{
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
  background: $color;
  color: white;
  padding: 10px;
}
.destacados {
  margin-top: 40px;
  text-align: center;
  background: $color;
  color: white;
  padding: 10px;
}
.novedades{
  display: grid;
  grid-template-columns: repeat(2, 480px);

}

.productos-destacados img {
  height: 250px;
  width: 288px;
}

.productos-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 70px;
}

@media (min-width: 300px){
  .productos-1{
    grid-template-columns: repeat(1,1fr);
  }
  .novedades{
    grid-template-columns: repeat(1,1fr);
  }
}
@media (min-width: 890px){
  .productos-1{
    grid-template-columns: repeat(2,1fr);
  }
  .novedades{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (min-width: 1300px){
  .productos-1{
    grid-template-columns: repeat(3,1fr);
  }
  .novedades{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (min-width: 1600px){
  .productos-1{
    grid-template-columns: repeat(4,1fr);
  }
  .novedades{
    grid-template-columns: repeat(4,1fr);
  }
}
@media (max-width: 370px){
  .container{
    min-width: 325px;
  }
  
}