nav {
  background-color: rgb(231, 134, 6);
}
nav a {
  font-weight: 600px;
  padding-right: 10px;
  font-family: "Playfair Display", serif;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  nav {
    padding: 10px 0px;
  }
}
footer {
  width: 100%;
  background-color: #0a141d;
  margin-top: 100px;
  min-height: 270px;
}
footer .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
footer .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .grupo-1 .box figure img {
  width: 130px;
}

footer .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 2px;
  font-size: 15px;
  font-family: "Gemunu Libre", sans-serif;
}

footer .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

footer .grupo-2 {
  color: #efefef;
  text-align: center;
  padding-bottom: 5px;
  font-family: "Playfair Display", serif;
}

footer .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
}

p {
  border: 5px;
}

img .foto-pie {
  height: 18px;
  width: 18px;
}

@media (max-width: 565px) {
  footer .grupo-1 {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
}
.titulo {
  text-align: center;
  margin-top: 50px;
}

.historia {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 100px;
}
.historia .nosotros {
  border: solid;
  border-radius: 10%;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 100px;
  margin-left: 100px;
}
.historia .nosotros .nosotros h2 {
  text-align: center;
  padding: 10px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.historia .nosotros .nosotros h2 p {
  padding: 5px;
}

section .master {
  justify-content: center;
  margin-left: 100px;
}

@media (max-width: 1385px) {
  .historia {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .master {
    margin-top: 100px;
    margin-left: 0;
    margin-right: 100px;
  }
}
@media (max-width: 780px) {
  .master img {
    width: 477px;
    height: 333px;
  }
}
@media (max-width: 680px) {
  .master img {
    width: 457px;
    height: 283px;
  }
  .nosotros {
    margin-left: 50px;
  }
  .master {
    margin-left: 50px;
  }
}
.img-productos img {
  width: 100%;
  height: 200px;
}

.titulo-productos {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 80px;
}
.container .card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
.container .card img {
  width: 330px;
  height: 300px;
}
.container .card img h4 {
  font-weight: 600;
}
.container .card img h4 p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}
.container .card img h4 p a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.dropdowns {
  display: flex;
  justify-content: center;
  background-color: rgb(231, 134, 6);
  padding: 20px;
  gap: 50px;
  margin-bottom: 30px;
}

@media (max-width: 1182px) {
  .productos {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 788px) {
  .productos {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 394px) {
  .container {
    padding: 0;
  }
}
section .servicio {
  margin-top: 100px;
  margin-left: 180px;
  margin-right: 180px;
  margin-bottom: 300px;
}
section .servicio h2 {
  display: flex;
  justify-content: center;
}
section .servicio h2 p {
  padding: 20px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1000px) {
  section .servicio {
    margin: 100px 30px 300px 30px;
  }
}
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr) grid-template-areas "info formulario" "ubi formulario";
  margin-top: 100px;
}
.contact .datos {
  width: 794px;
  margin-left: 150px;
}
.contact .datos .info {
  grid-area: info;
}
.contact .datos .info .formulario {
  grid-area: formulario;
}
.contact .datos .info .ubi {
  grid-area: ubi;
}

.formulario {
  display: flex;
  justify-content: center;
  min-width: 500px;
}
.formulario form {
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  width: 500px;
  margin-top: 40px;
  padding: 10px;
}
.formulario form h2 {
  display: flex;
  justify-content: center;
}
.formulario form h2 input, .formulario form h2 textarea {
  font-size: 15px;
}
.formulario form h2 input textarea, .formulario form h2 textarea textarea {
  min-height: 100px;
  max-width: 500px;
}

@media (min-width: 375px) {
  main .pagContacto {
    grid-template-columns: repeat(1, 1fr);
  }
}
#boton {
  background-color: #31384A;
  color: white;
  padding: 10px;
}

#boton:hover {
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
}

.lista-productos a {
  text-decoration: none;
  color: black;
}

.img-principal {
  display: flex;
  justify-content: center;
}

.img-principal img {
  min-width: 280px;
}

/* Inicio */
.novedad {
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
  background: rgb(231, 134, 6);
  color: white;
  padding: 10px;
}

.destacados {
  margin-top: 40px;
  text-align: center;
  background: rgb(231, 134, 6);
  color: white;
  padding: 10px;
}

.novedades {
  display: grid;
  grid-template-columns: repeat(4, 480px);
}

.productos-destacados img {
  height: 250px;
  width: 288px;
}

.productos-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 70px;
}

@media (min-width: 375px) {
  .productos-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .novedades {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 890px) {
  .productos-1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .novedades {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1300px) {
  .productos-1 {
    grid-template-columns: repeat(3, 1fr);
  }
  .novedades {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1600px) {
  .productos-1 {
    grid-template-columns: repeat(4, 1fr);
  }
  .novedades {
    grid-template-columns: repeat(4, 1fr);
  }
}/*# sourceMappingURL=style.css.map */