.titulos, .titulo-servicios, .titulo-contacto, .titulo-nosotros {
  text-align: center;
  margin-top: 50px;
}

.card img {
  height: 300px;
  width: 330px;
}

nav {
  background-color: rgb(231, 134, 6);
}
nav a {
  font-weight: 600px;
  padding-right: 10px;
  font-family: "Playfair Display", serif;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  nav {
    padding: 10px 0px;
  }
}
footer {
  width: 100%;
  background-color: #0a141d;
  margin-top: 100px;
  min-height: 270px;
}
footer .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}
footer .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .grupo-1 .box figure img {
  width: 130px;
}

footer .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 2px;
  font-size: 15px;
  font-family: "Gemunu Libre", sans-serif;
}

footer .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

footer .grupo-2 {
  color: #efefef;
  text-align: center;
  padding-bottom: 5px;
  font-family: "Playfair Display", serif;
}

footer .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
}

p {
  border: 5px;
}

img .foto-pie {
  height: 18px;
  width: 18px;
}

@media (max-width: 565px) {
  footer .grupo-1 {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
}
.img-productos img {
  width: 100%;
  height: 200px;
}

.titulo-productos {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 80px;
}
.container .card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
.container .card h4 {
  font-weight: 600;
}
.container .card h4 p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}
.container .card h4 p a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.dropdowns {
  display: flex;
  justify-content: center;
  background-color: rgb(231, 134, 6);
  padding: 20px;
  gap: 50px;
  margin-bottom: 30px;
}

@media (max-width: 1575px) {
  .productos {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1182px) {
  .productos {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 788px) {
  .productos {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 394px) {
  .container {
    padding: 0;
  }
}
.nuestroServicio {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "servicio servicio" "almacen almacen-fuera";
  justify-items: center;
  align-items: center;
}
.nuestroServicio .servicio {
  grid-area: servicio;
  max-width: 1200px;
  text-align: center;
  margin: 10px;
}

.almacen {
  grid-area: almacen;
}
.almacen img {
  border-radius: 10%;
}

.almacen-fuera {
  grid-area: almacen-fuera;
}
.almacen-fuera img {
  border-radius: 10%;
}

@media (min-width: 350px) and (max-width: 1415px) {
  .nuestroServicio {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "servicio" "almacen" "almacen-fuera";
    grid-gap: 50px;
  }
}
@media (max-width: 703px) {
  .nuestroServicio img {
    width: 600px;
    height: 376px;
  }
}
@media (max-width: 603px) {
  .nuestroServicio img {
    width: 500px;
    height: 276px;
  }
}
@media (max-width: 503px) {
  .nuestroServicio img {
    width: 370px;
    height: 200px;
  }
}
.container-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 100px);
  grid-template-areas: "info-form form" "info-form form-1" "info-form form-2";
  width: 100%;
  margin-top: 100px;
  padding: 50px 150px 50px 150px;
}

.form {
  grid-area: form;
}

.form-1 {
  grid-area: form-1;
}

.form-2 {
  grid-area: form-2;
}

.info-form {
  grid-area: info-form;
}

.container-form h2 {
  margin-bottom: 15px;
  font-size: 35px;
}

.container-form p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.container-form a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}

.container-form a i {
  color: orange;
  margin-right: 10px;
}

.container-form form .campo, textarea {
  width: 100%;
  padding: 15px 10px;
  margin-bottom: 20px;
}

.container-form .btn-enviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: orange;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}
.container-form .btn-enviar:hover {
  background: #e3e3e3;
}

@media (min-width: 720px) and (max-width: 1600px) {
  .container-form {
    padding: 50px;
  }
}
@media (min-width: 300px) and (max-width: 720px) {
  .container-form {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "info-form" "form" "form-1" "form-2";
    height: 720px;
    padding: 30px;
  }
  .form {
    margin-top: 50px;
  }
}
.historia {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "nosotros master";
  grid-gap: 80px;
  margin-top: 70px;
}
.historia .master {
  grid-area: master;
  margin-top: 20px;
  justify-content: center;
  display: flex;
}
.historia .master img {
  min-width: 350px;
  border-radius: 10%;
}
.historia .master .nosotros {
  grid-area: nosotros;
}

.nosotros {
  grid-area: nosotros;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 70px;
  margin-left: 70px;
}
.nosotros h2 {
  text-align: center;
  padding: 10px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.nosotros h2 p {
  padding: 5px;
}

@media (max-width: 1200px) {
  .historia {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "nosotros" "master";
  }
}
@media (max-width: 622px) {
  .master img {
    width: 457px;
    height: 283px;
  }
  .nosotros {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (max-width: 459px) {
  .master img {
    width: 407px;
    height: 260px;
  }
}
@media (max-width: 408px) {
  .master img {
    width: 357px;
    height: 230px;
  }
}
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
}

.lista-productos a {
  text-decoration: none;
  color: black;
}

.img-principal {
  display: flex;
  justify-content: center;
}

.img-principal img {
  min-width: 280px;
}

/* Inicio */
.novedad {
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center;
  background: rgb(231, 134, 6);
  color: white;
  padding: 10px;
}

.destacados {
  margin-top: 40px;
  text-align: center;
  background: rgb(231, 134, 6);
  color: white;
  padding: 10px;
}

.novedades {
  display: grid;
  grid-template-columns: repeat(2, 480px);
}

.productos-destacados img {
  height: 250px;
  width: 288px;
}

.productos-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 70px;
}

@media (min-width: 350px) {
  .productos-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .novedades {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 890px) {
  .productos-1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .novedades {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1300px) {
  .productos-1 {
    grid-template-columns: repeat(3, 1fr);
  }
  .novedades {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1600px) {
  .productos-1 {
    grid-template-columns: repeat(4, 1fr);
  }
  .novedades {
    grid-template-columns: repeat(4, 1fr);
  }
}/*# sourceMappingURL=style.css.map */